@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  line-height: 1.45;
  font-size: 16px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

header,
article,
footer nav {
  max-width: 720px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 26px;
  line-height: 33px;
  margin: 37px 0 12px;
}

h3 {
  font-size: 22px;
  line-height: 26px;
  margin: 26px 0 12px;
}

h4 {
  font-size: 18px;
  line-height: 22px;
  margin: 25px 0 12px;
}

a {
  text-decoration: none;
}

header nav,
footer nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 600;
}

strong {
  font-weight: 600;
}

nav a:link,
nav a:visited,
a.blocklink:link,
a.blocklink:visited,
code a:link,
code a:visited,
h2 a:link,
h2 a:visited,
h3 a:link,
h3 a:visited,
h4 a:link,
h4 a:visited {
  color: inherit;
}

code,
pre {
  font-size: 14px;
}
h2 code,
h3 code {
  font-size: inherit;
}
pre {
  line-height: 22px;
  padding-left: 20px;
  overflow-x: auto;
}
pre > code {
  margin: 0;
}

a.blocklink:hover {
  color: #0075ff;
}

nav a.active,
a:link,
a:visited {
  color: #0075ff;
}
